<div class="background-container">
  <img src="assets/lake.jpg" class="background-image" alt="Background Image">
</div>
<div class="navbar">
  <a href="#">Home</a>
  <a href="#">about</a>
  <a href="#">services</a>
  <a href="#">contact</a>
  <a href="#">profile</a>
</div>

<div class="content">
  <p class="date">Start ---> Destination</p>

  <h3>Available flights:</h3>

  <table>
    <tr>
      <th>Flight Name</th>
      <th>Departure time</th>
      <th>Departure port</th>
      <th>No of stops</th>
      <th>Arrival Time</th>
      <th>Arrival port</th>
      <th>Price</th>
    </tr>
    <!-- Table rows will be inserted here using server-side scripting or front-end framework -->
    <tr>
      <td>[Flight Name]</td>
      <td>[Departure time]</td>
      <td>[Departure port]</td>
      <td>[No of stops]</td>
      <td>[Arrival Time]</td>
      <td>[Arrival port]</td>
      <td>[Price]</td>
    </tr>
    <tr>
      <td>[Flight Name]</td>
      <td>[Departure time]</td>
      <td>[Departure port]</td>
      <td>[No of stops]</td>
      <td>[Arrival Time]</td>
      <td>[Arrival port]</td>
      <td>[Price]</td>
    </tr>
    <tr>
      <td>[Flight Name]</td>
      <td>[Departure time]</td>
      <td>[Departure port]</td>
      <td>[No of stops]</td>
      <td>[Arrival Time]</td>
      <td>[Arrival port]</td>
      <td>[Price]</td>
    </tr>
    <tr>
      <td>[Flight Name]</td>
      <td>[Departure time]</td>
      <td>[Departure port]</td>
      <td>[No of stops]</td>
      <td>[Arrival Time]</td>
      <td>[Arrival port]</td>
      <td>[Price]</td>
    </tr>
    <tr>
      <td>[Flight Name]</td>
      <td>[Departure time]</td>
      <td>[Departure port]</td>
      <td>[No of stops]</td>
      <td>[Arrival Time]</td>
      <td>[Arrival port]</td>
      <td>[Price]</td>
    </tr>
    <tr>
      <td>[Flight Name]</td>
      <td>[Departure time]</td>
      <td>[Departure port]</td>
      <td>[No of stops]</td>
      <td>[Arrival Time]</td>
      <td>[Arrival port]</td>
      <td>[Price]</td>
    </tr>
  </table>
  <button>Submit</button>
</div>
